<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.output.ipsi"
    >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity android:name="com.output.ipsi.UnivDetail"
            android:theme="@style/popuptheme"/>

        <activity android:name="com.output.ipsi.SelectUnivPage"
            android:theme="@style/customwidget"/>

        <activity android:name="com.output.ipsi.PolicyPage"
            android:theme="@style/customwidget"/>

        <activity android:name="com.output.ipsi.BaseActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name="com.output.ipsi.MainActivity"
            android:theme="@style/customwidget">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.output.ipsi.LoadingActivity"
            android:theme="@style/Transparent"/>

        <service
            android:name="com.output.ipsi.MyFirebaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
    </application>
</manifest>